SUPABASE_URL=https://wcdjamvxvyjkctsnlwdc.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjZGphbXZ4dnlqa2N0c25sd2RjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMTEzMDQsImV4cCI6MjA5Mzg4NzMwNH0.SLDYFXZVbHhNZT57HNK5-gad8OLK9Gu3mfvxiUCN9SI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndjZGphbXZ4dnlqa2N0c25sd2RjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODMxMTMwNCwiZXhwIjoyMDkzODg3MzA0fQ.28CUtk6xs4IXi4bz1lUtk21pLeyW6BKv6jTxlLckc1E

GEMINI_API_KEY=AIzaSyCjqc14Y6877WUGPwdamhWqNyF2IT1O0WI

STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

JWT_SECRET=
SESSION_SECRET=

APP_URL=www.https://creditoss.netlify.app/
NEXT_PUBLIC_APP_URL=
ALLOWED_ORIGINS=
